langchain 
openai 
faiss-cpu 
rank-bm25 
scikit-learn 
pandas 
langchain_community 
pypdf 
tiktoken
sentence-transformers 
transformers 
torch
ace_tools
nltk
spacy
tiktoken
langchain_huggingface 
faiss-gpu
langchain_openai
openpyxl
requests
beautifulsoup4